<ul>
  <li routerLinkActive="active">
    <div>Path A</div>
    <ul>
      <li routerLinkActive="active">
        <div>Path A.1</div>
        <ul>
          <li>
            <a routerLink="/a/1/1">Path A.1.1 </a>
          </li>
          <li>
            <a routerLink="/a/1/2">Path A.1.2</a>
          </li>
        </ul>
      </li>
      <li>
        <a routerLink="/a/2">Path A.2</a>
      </li>
    </ul>
  </li>
  <li routerLinkActive="active">
    <div>Path B</div>
    <ul>
      <li>
        <a routerLink="/b/1">Path B.1</a>
      </li>
      <li>
        <a routerLink="/b/2">Path B.2</a>
      </li>
    </ul>
  </li>
</ul>

<router-outlet></router-outlet>
